out
.idea
Solvd-part1\HelloWorld\.idea
Solvd-part1\HelloWorld\HelloWorld.iml
Solvd-part1\QuickSort\.idea
Solvd-part1\QuickSort\out
Solvd-part1\QuickSort\QuickSort.iml
Solvd-part1\TravelAgency\TravelAgency.iml
Solvd-part1\TravelAgency\target
Solvd-part1\TravelAgency\logs
Solvd-part1\TravelAgency\out